<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Monitoramento GATE-BTP</title>
</head>
<body>
    <h2>Gates DRY (Hoje + D+1)</h2>

    <table border="1" id="tabela">
        <thead>
            <tr>
                <th>Navio</th>
                <th>Viagem</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script src="{{url_for('static', filename='js/scripts.js')  }}"></script>
</body>
</html>