<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Monitoramento GATE-BTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="../static/styles/style.css">
<body>
    <main>
        <div class="container">
            <div class="header-tabela">
                <img src="../static/images/logo-btp.png" alt="logo btp">
                <h2>Monitoramento de Janelas de Navios BTP</h2>
            </div>

            <div class="cronometro">
                <div class="left">
                    <span id="ultima-att"></span>
                </div>

                <div class="middle">
                    <span>⏰ Próxima atualização: <span id="prox-att"></span></span>
                </div>

                <div class="right">
                    <button id="atualizar-btn" class="atualizar-btn" onclick="forceUpdate()">Atualizar agora</button>
                </div>
            </div>

            <div class="legenda-cores">
                <span class="legenda-navio"><span class="cor-navio"></span>Previsão de Gate</span>
                <span class="legenda-navio"><span class="cor-navio gate-confirmado"></span>Gate confirmado</span>
                <span class="legenda-navio"><span class="cor-navio janela-disponivel"></span>Janela disponível</span>
            </div>

            <table id="tabela-navios">
                <thead>
                    <tr>
                        <th>Navio</th>
                        <th>Agência</th>
                        <th>Viagem</th>
                        <th>Gate Dry</th>
                        <th>Deadline</th>
                        <th>Janela Disponível</th>
                    </tr>
                </thead>
                <tbody>
                    <tr colspan="5"></tr>
                </tbody>
            </table>

            <div class="footer">
                <span id="total-navios"></span>
            </div>
        </div>
    </main>

    <script src="{{url_for('static', filename='js/scripts.js')  }}"></script>
</body>
</html>